.cart-container {
    &.cart-floating {
        display: block;
        position: relative;

        @include media-breakpoint-down("lg") {
            position: inherit;
        }
    }

    .cart-list {
        display: none;
        flex-direction: column;
        position: absolute;
        max-width: 300px;
        width: 300px;
        top: 100%;
        right: 0;
        background-color: $white;

        @include media-breakpoint-down("lg") {
            display: flex;
            position: fixed;
            top: 0;
            right: -100%;
            width: 80%;
            height: 100%;
            align-items: flex-start;
            box-shadow: 0px 0px 100px 20px transparent;
            transition: all 0.5s;
            z-index: 999;
        }

        .cart-item {
            display: flex;
            width: 100%;
            flex: 1;
            border-bottom: 1px solid $gray-300;
            padding: 10px 15px;
            align-items: center;
            transition: all 0.5s;
            cursor: pointer;

            @include media-breakpoint-down("lg") {
                max-height: 100px;
            }

            &:hover {
                background-color: $gray-200;
            }

            img {
                display: block;
            }

            h4,
            p {
                margin: 0;
            }

            .cart-item--description {
                padding: 0px 10px;
                font-size: 1em;

                .cart-item--quantity {
                    display: flex;
                    align-items: center;

                    .cart-item--price {
                        margin-left: 5px;
                        .cart-item--description-compare-price {
                            color: $gray-500;
                            text-decoration: line-through;
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}

.mobile-cart-list-opened {
    #cart-list {
        right: 0;
        display: flex;
        @include media-breakpoint-down("lg") {
            box-shadow: 0px 0px 100px 20px transparentize($black, 0.3);
        }
    }
}
