@import "styles/variables";
@import "styles/mixins";

.badge {
    padding: 0.7em 0.5em;
    position: absolute;
    height: 1em;
    min-width: 1em;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: $light;
    font-size: 0.8em;
    right: -0.3em;
    top: -0.3em;
}

@each $style, $color in $btn-styles {
    .badge-#{$style} {
        @include badge-style($color, $style);
    }
}
