input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;

    &.form-control {
        display: block;
        width: 100%;
        padding: $btn-padding-y $btn-padding-x - 0.75;
        font-size: $font-size-base;
        color: $black;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid $gray-300;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
            z-index: 0 !important;
            box-shadow: none;
            color: $black;
            background-color: #fff;
            border-color: $gray-500;
            outline: 0;
        }

        &.is-invalid {
            border: 1px solid $danger;
        }

        &.is-valid {
            border: 1px solid $success;
        }
    }
}
