h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: inherit;
}

h1 {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 2.1875rem;
}

h2 {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 1.75rem;
}

h3 {
    font-size: 1.53125rem;
}

h4 {
    color: #000;
    margin-bottom: 15px;
    font-size: 1.3125rem;
}

h5 {
    font-size: 1.09375rem;
}

h6 {
    font-size: 0.875rem;
}

.body-content {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: $font-size-base;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1.5em;
    letter-spacing: 0px;

    @each $size, $style in $body-sizes {
        &.body-content-#{$size} {
            @include btn-sizes($style);
        }
    }
}

strong {
    font-family: "Montserrat-Bold", sans-serif;
}

.label-component {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: $font-size-base;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.10000000149011612px;

    @each $size, $style in $label-sizes {
        &.label-component-#{$size} {
            @include btn-sizes($style);
        }
    }
}

.truncate-component {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: $font-size-base;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    @each $size, $style in $truncate-sizes {
        &.truncate-component-#{$size} {
            @include btn-sizes($style);
        }
    }
}
